/.github export-ignore
/tests export-ignore
/.dockerignore export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/docker-compose.yml export-ignore
/Dockerfile export-ignore
/phpcs.xml export-ignore
/phpstan.neon export-ignore
/phpunit.xml export-ignore
/testbench.yaml export-ignore
/.act export-ignore
/.actrc export-ignore
